@import "globals/globals";

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 350px;
    // background-image: url("img/header-bg.jpg");
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center;

    .primary {
        display: inherit;
        justify-content: center;
    }

    .secondary {
        display: inherit;
        height: inherit;
        justify-content: end;
        margin-left: auto;
        #logo {
            aspect-ratio: 1/1;
            height: clamp(150px, 100%, 350px);
        }
    }
}

@media only screen and (max-width: $breakpoint) {
    .header {
        height: max(200px);
        transition: 0.25s ease-in-out;

        .primary {
            justify-content: flex-start;
            transition: 0.5s ease-in;
        }
    }
}
