.header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .primary {
        display: inherit;
    }

    .secondary {
        display: inherit;
        justify-content: end;
        margin-left: auto;
        #logo {
            width: clamp(150px, 350px, 100%);
        }
    }
}
