main-nav-bar {
    display: flex;
    align-items: center;

    :not(:first-child) {
        margin: 0 0 0 0.5rem;
    }

    .button {
        display: inherit;
        height: 2rem;
        width: 4rem;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
        padding: 0.5em 1em;
        border-radius: 5px;
        background: $dark-green;
        color: $orange;
        font-weight: bold;
        box-shadow: 0px 3px 5px $dark-grey;
        transition:
            color 1s ease-in, text-decoration 0.5s linear;

        &:hover,
        &:focus {
            color: lighten($orange, 25%);
            text-decoration: underline;
            text-decoration-color: $green;
            background-size: 275% 275%;
            background-image:
                linear-gradient(-90deg, $dark-green 0%, $dark-grey 25%, $green 51%, $dark-green 100%);
            -webkit-animation: buttonBGanimation 0.3s linear;
            animation: buttonBGanimation 0.3s linear;


        }

        &:active { transform: translateY(4px); }
    }

@-webkit-keyframes buttonBGanimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes buttonBGanimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

}

// < 650 px
@media only screen and (max-width: 650px) {
    main-nav-bar {
        flex-direction: column;

        :not(:first-child) {
            margin: 0.5rem 0 0 0;
        }
    }
}
