main-nav-bar {
    display: flex;
    align-items: center;

    :not(:first-child) {
        margin: 0 0 0 0.5rem;
    }

    .button {
        display: inherit;
        height: 2rem;
        width: 4rem;
        justify-content: center;
        font-size: 1.25rem;
        padding: 0.5em 1em;
        border-radius: 4.5px;
        border: 0px;
        background: $med-dark-blue;
        color: $orange;
        font-weight: bold;
        box-shadow: 5px 5px 7px $dark-grey;
        transition:
            color 0.1s ease-in,
            background 0.25s ease-in;

        &:hover,
        &:focus {
            color: lighten($orange, 12%);
            background: lighten(#1e2d24, 8%);
            font-weight: bolder;
            text-decoration: none;
        }
    }
}
// < 600 px
@media only screen and (max-width: 650px) {
    main-nav-bar {
        flex-direction: column;

        :not(:first-child) {
            margin: 0.5rem 0 0 0;
        }
    }
}

// > 40rem
// @media only screen and (min-width: 40rem) {
//     .header {
//         .primary {
//             display: flex;
//         }
//     }
// }
