main-nav-bar {
    display: flex;
    flex-direction: row;

    .button {
        border: 1px solid;
        margin: 0 0;
        padding: 0.25em 0.35em;
        border-radius: 4.5px;
        border-color: $med-dark-grey;
        background: $med-dark-grey;
        color: $med-light-blue;
        font-weight: bold;
        box-shadow: 2.5px 2.5px 5px $dark-grey;
        transition:
            color 0.1s ease-in,
            background 0.25s ease-in;

        &:hover,
        &:focus {
            color: $med-dark-yellow;
            background: $med-grey;
            border-color: $med-grey;
            font-weight: bolder;
            text-decoration: none;
        }
    }
}
