@import "globals/globals"
@import "globals/base-colours"

.page-title {
    font-weight: bold;
    text-decoration: underline;
    color: $orange;
    text-decoration-color: $med-dark-green;
}

.post-subtitle {
    color: $med-light-green;
}

hr {
    width: max(250px, 75%);
    border-top: 1px dotted darken($med-dark-green, 8%);
}

h1, h2, h3, h4, h5, h6 {
    @extend .page-title;
    text-decoration: none;
    color: $med-light-blue;
}
