@import "globals/globals"
@import "globals/base-colours"

.post-subtitle {
    color: $med-dark-green;
}

hr {
    width: max(250px, 75%);
    border-top: 1px dotted darken($med-dark-green, 8%);
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    text-decoration-style: dotted;
    text-decoration-color: $med-dark-violet;
    color: $light-wine-red;
}
