@import "globals/globals";
@import "globals/base-colours";
@import "main-nav-bar";
@import "header";
@import "musings-post";

:root {
    font-size: 14px;
}

html {
    min-width: 150px;
    height: 100%;
    box-sizing: border-box;
}

body {
    height: calc(100% - 25px);
    border-top: 25px solid $dark-grey;
    background: #fff;
    color: $dark-grey;
    font-family: $font-main;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.flex_main {
    display: flex;
    justify-content: center;
}

a {
    color: $light-blue;
    font-weight: bold;
    text-decoration: none;

    &:focus,
    &:hover {
        color: lighten($light-blue, 5%);
        transition: 0.2s ease-in;
    }
}

.inner {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    width: clamp(550px, 95%, 800px);

    &-content {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        padding: 0.75rem;
        background: #1e2d24;
        color: darken($light-grey, 5%);
        border-radius: 9px;
    }
}

@media only screen and (max-width: $breakpoint) {
    .inner { padding-top: 0px; }
}
