@import '_base-colours';
@import '_main-nav-bar';

$font-main: 'Victor Mono', monospace;


html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: calc(100% - 25px);
  border-top: 25px solid $dark-grey;
  background: $light-grey;
  color: $dark-grey;
  font-family: $font-main;
  //line-height: 1.3;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.flex_main {
    display: flex;
    flex: 1;
    justify-content: center;
}

a {
    color: $dark-orange;
    font-weight: bold;
    text-decoration: none;

    &:focus,
    &:hover {
        text-decoration: underline;
    }
}

.inner {
    display: flex;
    flex-direction: column;
    padding: 0 1em 0 1em;
    width: clamp(300px, 80%, 90%);
}
