<!DOCTYPE html>
<html>
  {% include "head.html" %}
  <body>
    <main class="flex_main">
      <div class="inner">
        <div class="header">
          {% block header %} {% include "header.html" %} {% endblock header %}
        </div>
        <div class="inner-content">
          {% block content %} {% endblock content %}
        </div>
      </div>
    </main>
    <script src="/components/button.js"></script>
    <!-- Responsive uses jQuery: -->
    <script src="/responsive/vendor/jquery-2.1.4.min.js"></script>
    <script src="/responsive/responsive.min.js"></script>
  </body>

</html>
